!!!
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-type" }/
    = podium_css 'slides'
    = podium_css 'code'
    = css 'local'
    = podium_javascript 'jquery-1.4.1'
    = podium_javascript 'slides'
    = podium_javascript 'code_highlighter/base'
    = podium_javascript 'code_highlighter/css'
    = podium_javascript 'code_highlighter/html'
    = podium_javascript 'code_highlighter/javascript'
    = podium_javascript 'code_highlighter/ruby'
    = javascript 'local'
    
  %body
    #slides
      = yield

